<div class="d-flex flex-row w-100 pt-2 px-3 position-fixed" style="font-size: 1.5em;">
    <a class="text-decoration-none text-dark border-bottom border-dark" style="margin-right:1%;" href="/user">SEARCH USER</a>
    <a class="text-decoration-none text-dark border-bottom border-dark" style="margin-right:1%;" href="/userList">USER LIST</a>
    <a class="text-decoration-none text-dark border-bottom border-dark" style="margin-right:1%;" href="/addUser">ADD USER</a>
    <a class="text-decoration-none text-dark border-bottom border-dark" href="/exit">EXIT</a>
</div>